<%-include('header.ejs')%>

<body>
    <h1>添加学生</h1>
    <form>
        <input type="text" name="studentName" placeholder="请输入学生姓名" required>
        <br>
        <input type="text" name="studentAge" placeholder="请输入学生年龄" required>
        <br>
        <input type="radio" name="studentSex" value="男" checked>男
        <input type="radio" name="studentSex" value="女">女
        <br>
        <select name="studentClass">
            <%for(var i=0;i<data.length;i++){%>
            <option value="<%=data[i]._id%>"><%=data[i].className%></option>
            <%}%>
        </select>
        <br>
        <button>添加学生</button>
    </form>
</body>
<script>
    var option = document.getElementsByTagName('option');
    $("form").submit(function (e) {
        if (option.length < 1) {
            alert('请先添加班级...');
            e.preventDefault();
        }
        var data = $(this).serialize();
        // console.log('***');
        
        $.post('/student/add', data, function (res) {
            if (res.error == 0) {
                alert(res.msg);
                location.href = '/';
            }
            else {
                alert(res.msg)
            }
        })


    })
</script>

</html>