#chat-msg-box{
    width: 800px;
    height: 600px;
    border: solid 1px black;
    margin: 20px 0;

    overflow-y: scroll;
}

#msg-input{
    width: 700px;
}

#send-btn{
    width: 100px;
}


.system-msg{
    color: red;
    font-family: 宋体;
}