<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>blog</title>
    <style>
        body,
        html {
            height: 100%;
        }

        main {
            height: 100%;
            width: 80%;
            margin: 20px auto;
            display: flex;
        }

        nav {
            height: 80%;
            width: 30%;
            /* border: 1px solid red; */
        }
        div {
            height: 80%;
            width: 70%;
            /* border: 1px solid green; */
        }
        .p-item{
            /* margin-top: 10%; */
            margin-left: 80%;
        }
        .p-item:nth-child(1){
            margin-top: 25%;
        }
        #hinput{
            width: 20%;
            margin-left: 70%;
        }
        h1{
            margin-bottom: 0;
        }
        .p-item:hover{
            background-color: red;
        }
    </style>
</head>

<body>
    <main>
        <nav>
            <p class="p-item"><a href="">首页</a></p>
            <p class="p-item"><a href="">存档</a></p>
            <p class="p-item"><a href="">标签</a></p>
            