body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 2em auto;
  padding: 0 2em;
  font-size: 14px;
  width: 600px;
  
}

a {
  color: #00B7FF;
}
header
{
  padding: 5em 0;
  border-bottom: 1px solid #cccccc;
}
nav{
  float: left;
  margin-left: -12em;
  width: 9em;
  text-align: right;
}
nav a {
  display: block;
  text-decoration: none;
  padding: 3em 1em;
  color: black;
}
nav a:hover{
  background-color: red;
  color:#cccccc ;
  transition: color .2s linear;
}
article
{
  font-size: 16px;
  padding-top: 5em;
}