html,body{
    height: 100%;
}
.ling{
    width: 100px;
    height: 100px;
    background-color: #464646;
    border-radius: 10px;
}
.er,.er2{
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 50%;
}
.ling{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.yi{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.yi2{
    align-self: center;
}