<br>
<div>
    <!-- 如果不是第一页 那么显示上一页 -->
    <% if (!isFirstPage) {%>
    <span class="prepage">
        <!-- 是刷新首页原接口127.0.0.1/p?page-1 -->
        <a href="?p=<%= page-1%>" title="上一页">上一页</a>
    </span>
    <%}%>

    <% if (!isLastPage) {%>
        <span class="nextpage">
            <a href="?p=<%= page+1%>" title="下一页">下一页</a>
        </span>
    <%}%>
</div>