<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>添加学生</h1>
    <form action="/api/student/add" method="post">
      <label for="">姓名</label>
      <input type="text" name="name">
      <br>
      <label for="">班级</label>
      <select name="grade" id="">
        <%for(var i=0;i<data.length;i++){%>
            <option value="<%=data[i]._id%>"><%=data[i].name%></option>
            <%}%>
      </select>
      <br>
      <button>提交</button>
    </form>
</body>
</html>