<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title%></title>
</head>

<body>
  <%if(user){%>
  <span>欢迎<%= user.name%></span>
  <%}else{%>
  <p><a href="/regist">注册</a></p>
  <p><a href="/login">登录</a></p>
  <%}%>
  </body>
</html>