<%-include('./header.ejs')%>
<body>
   <form>
      <input type="text" placeholder="输入用户名"
      name="username" required>
      <br>
      <input type="password" placeholder="输入密码"
      name="password" required>
      <br>
      <input type="password" placeholder="确认密码"
       required>
      <br>
      <input type="email" placeholder="请输入邮箱"
       name="email" required>
       <br>
       <button type="submit">注册</button>
   </form>
</body>
<script>
    $('form').submit(function(ev){
        // 先阻止默认行为
        ev.preventDefault();
        // 拿到当前form表单的数据进行数据初始化
        // 把form表单数据>>>data
        var data =$(this).serialize();
        // 查找到当前所有类型为type=password的input
        // 然后map遍历并把获取的数据封装成数组返回给pass
        var pass =$('input[type=password]').map(function(){
              return $(this).val();
        })
        if (pass[0]!=pass[1]) {
            // 加return代表阻止当前的submit事件继续传递
            return alert('两次密码不一致，请重新输出');
        }
        // 提交请求
        $.post('/user/register',data,function(res){
            console.log('????');
            
            if (res.error ==0) {
                alert(res.msg);
                // 回调
                location.href ='/';
            } else {
                alert(res.msg);
            }
        });

    })
</script>
</html>