<%-include header%>
<form action="/api/login" method="post">
    账号：<input type="text" name="name" required><br><br>
    密码：<input type="password" name="password" required><br><br>
    &emsp; &nbsp; &emsp;<button>登陆</button>
</form>
<%-include footer%>