.zy-slide {
    font-size: 12px;
    position: relative;
    width: 750px;
    height: 300px;
    margin: 115px auto;
}

.zy-slide ul {
    margin: 0;
    padding: 0;
    position: relative;
    width: 750px;
    height: 300px;
}

.zy-slide ul li {
    position: absolute;
    border: 2px solid black;
    list-style: none;
    background: black;
    width: 0px;
    height: 0px;
    top: 150px;
    left: 377px;
    z-index: 0;
    cursor: pointer;
    border-radius: 3px;
}

.zy-slide ul li img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.zy-slide section:nth-child(1), .zy-slide section:nth-child(2) {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 80px;
    margin-top: -40px;
    line-height: 80px;
    cursor: pointer;
}

.zy-slide section:nth-child(1) {
    left: -60px;
}

.zy-slide section:nth-child(2) {
    right: -60px;
}