<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1><%= title %></h1>
    <span id="time">3</span>秒之后将返回首页
    <ul>
        <% for(var i=0;i<links.length;i++){ %>
        <li><a href="<%= links[i].link %>"><%= links[i].text %></a></li>
        <% } %>
    </ul>
</body>
<script>
    var num = 3;
    var time = document.getElementById("time");
    setInterval(function (e) {
        num--;
        if (num <= 0) {
            location.href = "/"
        }
        time.textContent = num
    }, 1000);
</script>

</html>