<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%-include('./header.ejs')%>
    <!-- 标题 标签 内容 -->
    <main>
        <form action="/api/blog/commit" method="post">
            <p>标题</p>
            <input type="text" class="field" name="title" required>
            <p>标签</p>
            <input type="text" class="field" name="tag" placeholder="多个标签之前以空格隔开" required>
            <p>内容</p>
            <textarea name="content" id="content"></textarea>
            <br>
            <button>提交</button>

        </form>
    </main>
</body>
</html>